<h3 *ngIf="selectedProducts.length > 0">Produtos em seu carrinho</h3>

<p *ngIf="selectedProducts.length === 0">Nenhum produto selecionado.</p>

<ul id="product-list" class="list-group">
  <li class="list-group-item product-item row" *ngFor="let product of selectedProducts">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img class="img-fluid" src="{{product.imageLink}}"/>
        </div>
        <div class="col-9">
          <div data-id="{{product.id}}" class="product-item-name">{{product.name}}
            <span class="badge text-bg-danger" style="float: right;">{{product.qtd}}</span>
          </div>
          <div class="product-item-desc">{{product.description}}</div>
          <ng-container *ngIf="product.promo <= 0">
            <div class="product-item-price">{{product.price | currency}}</div>
          </ng-container>
          <ng-container *ngIf="product.promo > 0">
            <div class="product-item-price">Por apenas: <span>{{product.promo | currency}}</span>&nbsp;<s>{{product.price | currency}}</s></div>
          </ng-container>

          <strong>Subtotal: {{ getSubtotal(product) | currency}}</strong>
        </div>
      </div>
    </div>
  </li>
</ul>

<div class="container" *ngIf="selectedProducts.length > 0">
  <div class="row">
    <div class="col-12 payment-block-total">
      <h3>Total: {{ getTotal() | currency}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 payment-block">
      <button type="button" class="btn btn-danger">Continuar para pagamento...</button>
    </div>
  </div>
</div>
