<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light navbar-static-top" id="mainNav">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#">Hamburgers Dubon</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" (click)="setPage('cardapio')" href="#">Cardápio</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" (click)="setPage('sacola')" href="#">Sacola</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" (click)="setPage('sobre')" href="#">Sobre</a></li>
          </ul>
      </div>
  </div>
</nav>

<app-home></app-home>

<ng-container *ngIf="currentPage == 'cardapio'">
  <app-product></app-product>
</ng-container>

<ng-container *ngIf="currentPage == 'sacola'">
  <h1>Sacola</h1>
</ng-container>

<ng-container *ngIf="currentPage == 'sobre'">
  <h1>Sobre</h1>
</ng-container>

<app-footer></app-footer>
<router-outlet />
