<form>
  <select
    #categorySelect
    (change)='onCategorySelected(categorySelect.value)'
    class="form-select form-select-lg mb-3"
    aria-label="Large select example">
    <option *ngFor='let category of categories' [value]="category.id" [selected]="toNumber(currentCategory) == category.id">{{category.name}}</option>
  </select>
</form>

<ul id="product-list" class="list-group">
  <li class="list-group-item product-item row" *ngFor="let product of products" (click)="prepareAddToCart(product)">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img class="img-fluid" src="{{product.imageLink}}"/>
        </div>
        <div class="col-9">
          <div data-id="{{product.id}}" class="product-item-name">{{product.name}}
            <span class="badge text-bg-danger" style="float: right;" *ngIf="getSelectedQtd(product) > 0">{{getSelectedQtd(product)}}</span>
          </div>
          <div class="product-item-desc">{{product.description}}</div>
          <ng-container *ngIf="product.promo <= 0">
            <div class="product-item-price">{{product.price | currency}}</div>
          </ng-container>
          <ng-container *ngIf="product.promo > 0">
            <div class="product-item-price">Por apenas: <span>{{product.promo | currency}}</span>&nbsp;<s>{{product.price | currency}}</s></div>
          </ng-container>
        </div>
      </div>
    </div>
  </li>
</ul>

