<!-- Modal -->
<div class="modal fade" #addProductToCartModal tabindex="-1" aria-labelledby="addProductToCartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addProductToCartModalLabel">Incluir produto na sacola</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        Deseja incluir este item na sacola?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Incluir</button>
      </div>
    </div>
  </div>
</div>
